.media-img[b-kuqh2twvc6] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-image-wrapper[b-kuqh2twvc6] {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.original-price[b-kuqh2twvc6] {
    text-decoration: line-through;
}

@media (max-width: 1023px) {
    .media[b-kuqh2twvc6] {
        flex-direction: column;
    }
    
    .media-img[b-kuqh2twvc6] {
        max-width: 300px;
    }
    
    .media-image-wrapper[b-kuqh2twvc6] {
        width: 100%;
        height: auto;
    }    
}