.container[b-is3m924y5p] {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img[b-is3m924y5p] {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

img:hover[b-is3m924y5p] {
    transform: scale(1.1) rotate(5deg);
}

.featured-product[b-is3m924y5p] {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023px) {
    .container[b-is3m924y5p] {
        justify-content: flex-start;
    }
}