.show-menu[b-0vrpoga6la] {
    display: block;
}

.user-button[b-0vrpoga6la] {
    margin-left: .5em;    
}

.top-row a[b-0vrpoga6la] {
    margin-left: 0;
}

.dropdown-item:hover[b-0vrpoga6la] {
    background-color: white;
}